html,
body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

.container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  padding: 20px 0;
  margin-top: 7rem;
  left: 38%;
  top: 50%;
  height: 70vmin;
}

.card {
  flex-shrink: 0;
  width: 60vmin;
  height: 40vmin;
  border-radius: 10px;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.logo-text {
  color: white;
  margin-top: 40vmin;
}

.card.logo1,
.card.logo2 {
  background-size: contain;
}
