.navbar {
  position: fixed;
  background-color: black;
  top: 0;
  z-index: 100;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 4rem;
  padding: 10px 0;
  font-weight: bold;
}

.nav-link {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-link a:hover {
  color: #0a8caf;
}

.container-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  position: fixed;
}

.nav-item {
  margin-right: 10px;
}

.nav-link .nav-item a.list.active {
  color: #0a8caf;
}
